body {
  background-color: #eeeeee;
}

nav {
  background-color: teal;
}

h1 {
  text-align: center;
  color: teal;
}

.truncate {
  width: 100%;
}

.card-content {
  text-align: center;
}
